.closed {
  display: none;
}

.town-list {
  position: absolute;
  width: 100%;
  z-index: 99999;
  max-height: 400px;
  overflow: auto;
}

.town-list li {
  cursor: pointer;
}

.town-list li:focus {
  outline: 0;
  margin-bottom: 0;
  border-radius: 4px;
  border: 1px solid #999;
}
