<div class="position-relative">
    <input
      type="text"
      [formControl]="searchCity"
      class="form-control"
      placeholder="Enter a city name..."
      [value]="searchCity.value | titlecase"
      (keydown.enter)="getData(searchCity.value)"
    >
  <ul
    class="closed list-group town-list"
    appClose
  >
    <cdk-virtual-scroll-viewport itemSize="25" style="height: 400px">
      <ng-container *cdkVirtualFor="let city of cities | search: searchCity.value">
        <li
            tabindex="0"
            (click)="getData(city.name)"
            class="list-group-item"
            appHighlight>
          {{city.name}}, {{city.country}}
        </li>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </ul>
</div>

