<div class="mt-4">
  <div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
    <app-loader></app-loader>
  </div>

  <div class="forecast-grid">
    <h2 *ngIf="forecast || error">
      Forecast for the next 5 days:
    </h2>
    <div *ngIf="error">
      {{error}}
    </div>
    <div *ngFor="let item of forecast">
      <app-forecast-item [forecastItem]="item"></app-forecast-item>
    </div>
  </div>
</div>
