<div class="card mb-3">
  <div class="card-header">
    {{this.date | date: 'fullDate'}}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table>
        <tr appHighlight title="Time">
          <td class="w16">
            <img src="../../../assets/time.png" alt="Time" class="w16">
          </td>
          <td *ngFor="let item of forecastItem">
            {{item.date | date: 'HH:mm'}}
          </td>
        </tr>
        <tr appHighlight title="Temperature">
          <td class="w16">
            <img src="../../../assets/termometer.png" alt="Temperature">
          </td>
          <td *ngFor="let item of forecastItem">
            {{item.temp |  number:'1.0-0' | addictiveInfo: '°C'}}
          </td>
        </tr>
        <tr appHighlight title="Weather">
          <td class="w16">
            <img src="../../../assets/weather-icon.png" alt="Weather">
          </td>
          <td *ngFor="let item of forecastItem">
            <img [src]=item.icon alt="Weather Icon" [title]="item.description | titlecase">
          </td>
        </tr>
        <tr appHighlight title="Weather Description">
          <td class="w16">
            <img src="../../../assets/description.png" alt="Weather Description">
          </td>
          <td *ngFor="let item of forecastItem">
            {{item.weather}}
          </td>
        </tr>
        <tr appHighlight title="Clouds Percent">
          <td class="w16">
            <img src="../../../assets/clouds.png" alt="Clouds">
          </td>
          <td *ngFor="let item of forecastItem">
            {{item.clouds | percent}}
          </td>
        </tr>
        <tr appHighlight title="Humidity Percent">
          <td class="w16">
            <img src="../../../assets/humidity.png" alt="Humidity">
          </td>
          <td *ngFor="let item of forecastItem">
            {{item.humidity | percent}}
          </td>
        </tr>
        <tr appHighlight title="Wind Speed">
          <td class="w16">
            <img src="../../../assets/wind.png" alt="Wind">
          </td>
          <td *ngFor="let item of forecastItem">
            {{item.wind | addictiveInfo: 'm/s'}}
          </td>
        </tr>
        <tr appHighlight title="Pressure mm Hg">
          <td class="w16">
            <img src="../../../assets/pressure.png" alt="Pressure">
          </td>
          <td *ngFor="let item of forecastItem">
            {{item.pressure | pressure | number:'3.0-0' | addictiveInfo: 'mmHg'}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
