<div class="overlay" *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<div class="container" *ngIf="!isLoading">
  <h1 class="mt-3 mb-3">
    Weather Forecast
    <span *ngIf="currentCity">
      in {{currentCity | titlecase}}
    </span>
  </h1>
  <div class="row justify-content-between">
    <div class="col-md-5">
      <app-search-field
        [cities]="cities"
        [queryCity]="currentCity"
        (city)="onChooseCity($event)"
      ></app-search-field>
    </div>
    <div class="col-md-6">
      <app-current-weather [currentCity]="currentCity"></app-current-weather>
    </div>
  </div>
  <app-forecast [currentCity]="currentCity" class="w-100"></app-forecast>
</div>


