<div *ngIf="isLoading" class="d-flex justify-content-center mt-md-0 mt-4">
  <app-loader></app-loader>
</div>
<div *ngIf="error" class="mt-md-0 mt-4">
  {{error}}
</div>
<div class="card mt-4 mt-md-0" *ngIf="!isLoading && currentWeather">
  <div class="card-header">
    {{currentWeather.sunrise | date: 'fullDate' }}
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="main-info-left d-flex align-items-start">
        <div class="overflow-hidden">
          <div class="cityName" [title]=currentWeather.name>
            {{currentWeather.name}}
          </div>
          <img [src]=currentWeather.icon alt="Weather" class="weatherIcon" [title]="currentWeather.description | titlecase">
          <div>
            {{currentWeather.weather }}
          </div>
        </div>
      </div>
      <div class="main-info-right">
        <div class="temperature">
          {{currentWeather.temp | number:'1.0-0' | addictiveInfo: '°C'}}
        </div>
        <div class="windSpeed">
          {{currentWeather.wind | addictiveInfo: 'm/s'}}
        </div>
        <div class="humidity">
          Humidity {{currentWeather.humidity | percent}}
        </div>
        <div class="clouds">
          Clouds {{currentWeather.clouds | percent}}
        </div>
        <div> {{currentWeather.pressure | pressure | number:'3.0-0' | addictiveInfo: 'mmHg'}}</div>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <div class="d-flex align-items-center" title="Sunrise Time">
        <img src="../../assets/sunrise-16.png" alt="">
        <span class="dayTime">
          {{currentWeather.sunrise  | date: 'HH:mm:ss'}}
        </span>
      </div>
      <div class="d-flex align-items-center" title="Sunset Time">
        <img src="../../assets/sunset-16.png" alt="">
        <span class="dayTime">
          {{currentWeather.sunset  | date: 'HH:mm:ss'}}
        </span>
      </div>
    </div>
  </div>
</div>
