.main-info-right {
  text-align: right;
  width: 50%;
}

.main-info-left {
  width: 50%;
}

.temperature {
  font-size: 40px;
}

.cityName {
  text-overflow: ellipsis;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
}

.weatherIcon {
  margin-left: -20px;
}

.dayTime {
  font-size: 14px;
  padding-left: 5px;
}

